{% extends "base.j2" %}

{% block header %}
<h1>{% block title %}
  Find password
{% endblock %}</h1> 
{% endblock %}

{% block content %}
<form method="POST">
  <div class="form-group">
    <label for="email" class="label-find-password">Input you registered email</label>
    <input id="email" type='email' class="form-control input-email" name="email" required />
  </div>
  
  <button type="submit" class="btn btn-primary button-submit">Submit</button>
</form>
{% endblock %}