{% extends 'base.html' %}

{% block header %}
<h1>{% block title %}Register{% endblock %}</h1>
{% endblock %}

{% block content %}
<form method="POST">
  <div class="input-group">
    <label for="username" class="label-username">Username</label>
    <input name="username" id="username" class="input-username" required />
  </div>

  <div class="input-group">
    <label for="password" class="label-password">Password</label>
    <input type="password" class="input-password" name="password"" id="password" required/>
  </div>

  <button type="submit" class="button-submit">Register</button>
</form>
{% endblock %}