{% macro render_field(field) %}
  <div class="form-group">
    <label
      class="label-{{field.label.field_id}}"
      for='{{ field.label.field_id }}'
    >
      {{ field.label.text }}
    </label>
    {{ field(**kwargs)|safe }}
  
    <dl>
      <dd>
        {% if field.errors %}
        <ul class="errors">
          {% for error in field.errors %}
          <li>{{ error }}</li>
          {% endfor %}
        </ul>
        {% endif %}
      </dd>
    </dl>
  </div>
{% endmacro %}