{% extends 'base.j2' %}

{% block top_link %}
<link rel="stylesheet" href="{{url_for('static', filename='css/simditor/simditor.css')}}" />
<link rel="stylesheet" href="{{url_for('static', filename='css/jquery-ui.min.css')}}" />
<link rel="stylesheet" type="text/css" href="{{url_for('static', filename='css/tagsinput.css')}}" />
{% endblock %}

{% block header %}
  <h1>{% block title %}New Posts{% endblock %}</h1>
{% endblock %}

{% block content %}
  <form method="POST">
    <div class="form-group">
      <label for="title" class="label-title">Title</label>
      <input id='title' class="form-control input-title" name='title' value="{{ request.form['title'] }}" required/>
    </div>
  
    <div class="form-group">
      <label for="date" class="label-date">Publication date</label>
      <input class='form-control input-date' id="date" name="date" value="{{ request.form['date'] }}" autocomplete="off" required />
    </div>

    <div class="form-group">
      <label for="category-id" class="label-category">Category</label>
      <select class='form-control select-category' id="category_id" name="category_id" autocomplete="off" required>
        {% for c in category %}
        <option value='{{c.id}}'>{{ c.name }}</option>
        {% endfor %}
      </select>
    </div>

    <div class="form-group">
      <label for="body" class="label-body">Body</label>
      <textarea id='body' name='body' class="textarea-body">{{ request.form['body'] }}</textarea>
    </div>

    <div class="form-group">
      <label for='tag' class="label-tag">Tags</label>
      <input type="text" name="tag" id='tag' data-role="tagsinput" class="form-control input-tag" value="{{ request.form['tag'] }}" />
    </div>
    
    <div class="form-group">
      <button type="submit" class="btn btn-primary button-submit">Save</button>
    </div>
  </form>
{% endblock %}

{% block script %}
<script type="text/javascript" src="{{url_for('static', filename='js/simditor/jquery.min.js')}}"></script>
<script type="text/javascript" src="{{url_for('static', filename='js/jquery-ui.min.js')}}"></script>
<script type="text/javascript" src="{{url_for('static', filename='js/simditor/module.js')}}"></script>
<script type="text/javascript" src="{{url_for('static', filename='js/simditor/hotkeys.js')}}"></script>
<script type="text/javascript" src="{{url_for('static', filename='js/simditor/simditor.js')}}"></script>
<script type="text/javascript" src="{{url_for('static', filename='js/tagsinput.js')}}"></script>

<script type="text/javascript">
var editor = new Simditor({
  textarea: $('#body')
  //optional options
});

$( "#date" ).datepicker({
  dateFormat: "yy-mm-dd"
});
</script>
{% endblock %}